<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

     <title> {% block title %}Alinerie{% endblock %}</title>

    <!-- CSS -->
    {% block stylesheets %}
            {% stylesheets
 '%kernel.root_dir%/../web/bundles/bmatznerfontawesome/css/font-awesome.min.css'
 '%kernel.root_dir%/../vendor/twitter/bootstrap/dist/css/bootstrap.min.css' '%kernel.root_dir%/../web/bundles/alalinerie/*'
     filter="cssrewrite"   %}
                <link rel="stylesheet" href="{{ asset_url }}" />
            {% endstylesheets %}  
        {% endblock %}

  </head>

  <body>
	<div class="container">
		<header>
		<div class="row">
			<div class="col-md-12"><image src="{{ asset('bundles/alalinerie/images/headerBan.png') }}" class="img-responsive"/></div>
		</div>
		<div class="row">	
		
			<div class="col-xs-12 col-sm-2 col-md-2 logo"><h1><span class="bold">ALINE</span>RIE.</h1></div>
			<div class="col-md-10 rs">
				<a href="" class="hover-shadow" data-toggle="tooltip" href="#" title="Facebook"><image src="{{ asset('bundles/alalinerie/images/rsFacebook.png') }}"/></a>
				<a href="" class="hover-shadow" data-toggle="tooltip" href="#" title="Instagram"><image src="{{ asset('bundles/alalinerie/images/rsInstagram.png') }}"/></a>
				<a href="" class="hover-shadow" data-toggle="tooltip" href="#" title="YouTube"><image src="{{ asset('bundles/alalinerie/images/rsYoutube.png') }}" /></a>
				<a href="" class="hover-shadow" data-toggle="tooltip" href="#" title="Me contacter"><image src="{{ asset('bundles/alalinerie/images/rsMail.png') }}"/></a>
			</div>
		</div>
		</header>

	<nav class="row navbar" >
		<div class="col-sm-12 col-md-12">
			<div class="navbar-header moderie">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#"></a>
			</div>
	   
			<div class="collapse navbar-collapse" id="navbar-collapse">
{{ render(controller('AlAlinerieBundle:Categorie:listeCategorie')) }}	
			</div>
		</div>
	</nav>

{% block article %}{% endblock %}
        
{% block admin %}{% endblock %}
        
        <div class="col-sm-6 col-md-4">
        {{ render(controller('AlAlinerieBundle:Article:listeArticle')) }}	
        </div>
		<section class="row" style="margin:0px;">
		
  {{ render(controller('AlAlinerieBundle:Article:unZoom')) }}	
  {{ render(controller('AlAlinerieBundle:Article:unFac')) }}	
            
		
		</section>
	
		<footer>
			<div class="row traits">
				<div class="col-xs-2 col-sm-2 col-md-2 bypasserie">&nbsp;</div>
				<div class="col-xs-2 col-sm-2 col-md-2 cuisinerie">&nbsp;</div>
				<div class="col-xs-2 col-sm-2 col-md-2 geekerie">&nbsp;</div>
				<div class="col-xs-2 col-sm-2 col-md-2 moderie">&nbsp;</div>
				<div class="col-xs-2 col-sm-2 col-md-2 musiquerie">&nbsp;</div>
				<div class="col-xs-2 col-sm-2 col-md-2 autrerie">&nbsp;</div>
			</div>
			<div class="row">
				<div class="col-md-8 copy"><a data-toggle="tooltip" href="#" title="HTML5"><i class="fa fa-html5"></i></a> <a data-toggle="tooltip" href="#" title="CSS3"><i class="fa fa-css3"></i></a> <a data-toggle="tooltip" href="#" title="Font Awesome"><i class="fa fa-flag"></i></a> <a data-toggle="tooltip" href="#" title="Bootstrap Twitter"><i class="fa fa-twitter"></i></a> Copyrights ALINERIE. &copy; 2014 - <a href="">Mentions légales</a></div>
				<div class="col-md-4"></div>
			</div>
		</footer>

</div>
    <!-- Bootstrap  + jquery -->
   {% block javascripts %}
        {% javascripts
            '../vendor/jquery/jquery/jquery-1.9.1.min.js'
            '../vendor/twitter/bootstrap/js/dropdown.js'
        %}
            <script type="text/javascript" src="{{ asset_url }}"></script>
        {% endjavascripts %}
        {% endblock %}

<script>
      $(function (){
   $('a').tooltip();
});
    </script>

	  </body>
</html>