{% extends "::layout.html.twig" %}

{% block article %}
	<section class="row">
		<div class="col-xs-12 col-sm-12 col-md-12">
			<div class="date">{{ article.date|date('d') }}<span class="bold">{{ article.date|date('m') }}</span><br/>{{ article.date|date('Y') }}</div>
			<h2>{{ article.title }}</h2>
			  
			<article>
				
		{% if article.image is not null %}	<div class="carre" style="background-image:url('../web/bundles/alalinerie/images/carre{{ article.categorie.getName() }}png');"><image src="{{ asset(article.image.webPath) }}" class="img-circle "/></div>
                {% endif %}
			
			<p>{{ article.content }}
			</p>
			</article>
		</div>
	</section>
{% endblock %}


{% block admin %}
        
		<section class="row">
		<div class="col-md-12">
			<div class="widgetRS">
			
	{% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}		
  <p>
    <a href="{{ path('al_alinerie_editarticle', {'article_id': article.id}) }}" class="btn btn-default">
      <i class="fa fa-pencil fa-1x"></i>
      Modifier l'article
    </a>
    <a href="{{ path('al_alinerie_deletearticle', {'article_id': article.id}) }}" class="btn btn-danger">
      <i class="fa fa-trash fa-1x"></i>
      Supprimer l'article
    </a>
      <a href="{{ path('al_alinerie_addarticle') }}" class="btn btn-info">
      <i class="fa fa-plus fa-1x"></i>
      Ajouter un nouvel article
    </a>
  </p>
                {% endif %}
                </div>
		</div>
		</section>

{% endblock %}